{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>NanoInv</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'base/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="{% static 'base/style.css' %}" rel="stylesheet"/>
    </head>
    <body>
        <!-- Bootstrap core JavaScript ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
                <div class="container-fluid"> <a class="navbar-brand" href="{% url 'index' %}">NanoInv</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler10" aria-controls="" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> 
                    </button>                     
                    <div class="collapse navbar-collapse" id="navbarToggler10"> 
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
                            <li class="nav-item"> <a class="nav-link" href="{% url 'index' %}">К списку</a>
                            </li>                             
                        </ul>
                    </div>                     
                </div>                 
            </nav>
            {% if error_msg %}<div class="alert alert-danger"> <strong>Error!</strong>{{ error_msg }}</div>{% endif %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                    {% block card %}
                    {% endblock %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-3">
                    <ul class="nav nav-tabs nav-pills" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" href="#photo" data-bs-toggle="tab" role="tab" aria-controls="" aria-expanded="true">Фотографии</a></li>
                        {% if show_subitems %}
                        <li class="nav-item"> <a class="nav-link" href="#subitems" data-bs-toggle="tab" role="tab" aria-controls="" aria-expanded="true">Составные части</a></li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="photo">
                            {% block imageview %}
                            {% endblock %}
                        </div>
                        <div class="tab-pane" id="subitems">
                            {% block subitem_table %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'base/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'base/bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
    <footer class="pg-empty-placeholder"><p>&nbsp;</p></footer>
</html>
