{% extends 'main/card_base.html' %}

{% block card %}
<div class="card">
    <form class="needs-validation" action={% if item.pk is none %} "{% url 'item_new' %}" {% else %} "{% url 'item_view' item.pk %}" {% endif %} method="post">
    {% csrf_token %}
    <div class="card-header">
        <div class="input-group"> <span class="input-group-text w-25">Инвентарный номер</span>
            {{ form.inventory_number }}
            {% if item.pk is not none %}<a class="btn btn-danger" href="{% url 'item_view' item.pk  %}?rm={{ item.pk }}">Delete</a>{% endif %}
        </div>
    </div>
    <div class="card-body"> 
        <div class="input-group mb-3"> <span class="input-group-text w-25">Наименование</span>
            {{ form.name }}
        </div>
        <div class="input-group mb-3"> <span class="input-group-text w-25">Серийный номер</span>
            {{ form.serial_number }}
        </div>
        <div class="input-group mb-3"> <span class="input-group-text w-25">Расположение</span>
            {{ form.location }}
        </div>
        <div class="input-group mb-3"> <span class="input-group-text">Примечание</span>
            {{ form.comments }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Начало эксплуатации</span>{{ form.date_start_use }}
            <span class="input-group-text">Конец эксплуатации</span>{{ form.date_end_use }}
        </div>
    </div>
    <div class="card-footer">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Ответственный</span>
            {{ form.point_man }}
            <span class="input-group-text" id="amount">Количество</span>{{ form.amount }}
            {% if item.last_update is not none %}<span class="input-group-text">Последние изменения {{ item.last_update }}</span>{% endif %}
            <input class="form-control btn btn-success" type="submit" value="Update"/>
        </div>
    </div>                         
    </form>
</div>
{% endblock %}

{% block imageview %}
    {% if item.pk is not none %}
<form action="{% url 'item_view' item.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ imgupform.as_p }}
    <input type="submit" value="Upload"/>
</form>
    {% if image_list|length != 0 %}
    <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            {% for img in image_list %}
            <li data-bs-target="#carousel1" data-bs-slide-to="{{ forloop.counter0 }}" {% if img is image_list|first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for img in image_list %}
            <div class="carousel-item {% if img is image_list|first %}active{% endif %}">
                <img src="{{ img.image.url }}" class="d-block w-100"/>
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel1" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel1" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}

{% block subitem_table %}
    {% if item.pk is not none %}
    <hr/>
    <h3>Составные части <a href="{% url 'subitem_new' item.pk %}" class="btn btn-success">Add</a></h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Серийный номер</th>
                <th scope="col">Расположение</th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subitem_list %}
            <tr>
                <th scope="row"><a href="{% url 'subitem_view' item.pk sub.pk %}">{{ sub.name }}</a> </th>
                <td>{{ sub.serial_number }}</td>
                <td>{{ sub.location }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
