{% extends 'main/card_base.html' %}

{% block card %}
<div class="card-header">
    <div class="input-group">
        <span class="input-group-text w-25">Инвентарный номер</span>
        <label class="form-control"> {{ item.inventory_number }}</label>
    </div>
</div>
<div class="card-body">
    <div class="input-group mb-3">
        <span class="input-group-text w-25">Наименование</span>
        <label class="form-control"> {{ item.name }}</label>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text w-25">Серийный номер</span>
        <label class="form-control"> {{ item.serial_number }}</label>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text w-25">Расположение</span>
        <label class="form-control"> {{ item.location }}</label>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Примечание</span>
        <textarea class="form-control"> {{ item.comments }}</textarea>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Начало эксплуатации</span><label class="form-control"> {{ item.date_start_use }}</label>
        <span class="input-group-text">Конец эксплуатации</span><label class="form-control"> {{ item.date_end_use }}</label>
    </div>
</div>
<div class="card-footer">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Ответственный</span>
        <label class="form-control"> {{ item.point_man }}</label>
        <span class="input-group-text" id="amount">Количество</span><label class="form-control"> {{ item.amount }}</label>
        <span class="input-group-text">Последние изменения {{ item.last_update }}</span>
    </div>
</div>
{% endblock %}


{% block imageview %}{% if item.pk is not none %}{% if image_list|length != 0 %}
<div class="card-body">
    <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            {% for img in image_list %}
            <li data-bs-target="#carousel1" data-bs-slide-to="{{ forloop.counter0 }}" {% if img is image_list|first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for img in image_list %}
            <div class="carousel-item {% if img is image_list|first %}active{% endif %}">
                <img src="{{ img.image.url }}" class="d-block w-100"/>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel1" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel1" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
{% endif %}{% endif %}{% endblock %}



{% block subitem_table %} {% if subitem_list|length != 0  %}
<div class="card-body">
    <table class="table">
        <thead> 
            <tr> 
                <th scope="col">Название</th>
                <th scope="col">Серийный номер</th>
                <th scope="col">Расположение</th>
            </tr>
        </thead>                         
        <tbody> 
            {% for sub in subitem_list %}
             <tr {% if sub.location|length == 0 %}class="table-danger"{% endif %}>
                <th scope="row"><a href="{% url 'subitem_view' item.pk sub.pk %}">{{ sub.name }}</a> </th>
                <td>{{ sub.serial_number }}</td>
                <td>{{ sub.location }}</td>
            </tr>
            {% endfor %}
        </tbody>                         
    </table>
</div>
{% endif %}{% endblock %}
                    
            
