{% extends 'main/base_card.html' %}

{% block card %}
<div class="card"> 
    <div class="card-header">
        <div class="input-group"> 
            <span class="input-group-text w-25">Инвентарный номер</span>
            <label class="form-control"> {{ item.inventory_number }}</label>
        </div>
    </div>
    <div class="card-body"> 
        <div class="input-group mb-3"> 
            <span class="input-group-text w-25">Наименование</span>
            <label class="form-control"> {{ item.name }}</label>
        </div>
        <div class="input-group mb-3"> 
            <span class="input-group-text w-25">Серийный номер</span>
            <label class="form-control"> {{ item.serial_number }}</label>
        </div>
        <div class="input-group mb-3"> 
            <span class="input-group-text w-25">Расположение</span>
            <label class="form-control"> {{ item.location }}</label>
        </div>
        <div class="input-group mb-3"> 
            <span class="input-group-text">Примечание</span>
            <textarea class="form-control"> {{ item.comments }}</textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Начало эксплуатации</span><label class="form-control"> {{ item.date_start_use }}</label>
            <span class="input-group-text">Конец эксплуатации</span><label class="form-control"> {{ item.date_end_use }}</label>
        </div>
    </div>
    <div class="card-footer">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Ответственный</span>
            <label class="form-control"> {{ item.point_man }}</label>
            <span class="input-group-text" id="amount">Количество</span><label class="form-control"> {{ item.amount }}</label>
            <span class="input-group-text">Последние изменения {{ item.last_update }}</span>
        </div>
    </div>                         
</div>
{% endblock %}


{% block imageview %}
    {% if item.pk is not none %}
    <div id="carousel1" class="carousel slide" data-bs-ride="carousel"> 
        <ol class="carousel-indicators"> 
            <li data-bs-target="#carousel1" data-bs-slide-to="0" class="active"></li>                             
            <li data-bs-target="#carousel1" data-bs-slide-to="1"></li>                             
            <li data-bs-target="#carousel1" data-bs-slide-to="2"></li>                             
        </ol>                         
        <div class="carousel-inner"> 
            <div class="carousel-item active" data-bs-interval="10000"> 
                <img src="https://pinegrow.com/placeholders/img17.jpg" class="d-block w-100"/> 
                <div class="carousel-caption d-none d-md-block"> 
                    <h5>First slide label</h5> 
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> 
                </div>                                 
            </div>                             
            <div class="carousel-item" data-bs-interval="2000"> 
                <img src="https://pinegrow.com/placeholders/img13.jpg" class="d-block w-100"/> 
                <div class="carousel-caption d-none d-md-block"> 
                    <h5>Second slide label</h5> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
                </div>                                 
            </div>                             
            <div class="carousel-item"> 
                <img src="https://pinegrow.com/placeholders/img14.jpg" class="d-block w-100"/> 
                <div class="carousel-caption d-none d-md-block"> 
                    <h5>Third slide label</h5> 
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> 
                </div>                                 
            </div>                             
        </div>
        <a class="carousel-control-prev" href="#carousel1" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel1" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    {% endif %}
{% endblock %}



{% block subitem_table %}
    {% if subitem_list|length != 0  %}
    <hr/>
    <h3>Составные части</h3>
    <table class="table"> 
        <thead> 
            <tr> 
                <th scope="col">Название</th>
                <th scope="col">Серийный номер</th>
                <th scope="col">Расположение</th>
            </tr>
        </thead>                         
        <tbody> 
            {% for sub in subitem_list %}
            <tr>
                <th scope="row"><a href="{% url 'subitem_view' item.pk sub.pk %}">{{ sub.name }}</a> </th>
                <td>{{ sub.serial_number }}</td>
                <td>{{ sub.location }}</td>
            </tr>
            {% endfor %}
        </tbody>                         
    </table>
    {% endif %}
{% endblock %}
                    
            
